# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.spec

# App data
killsay_settings.json
killsay_log_*.txt

# PyInstaller
*.manifest

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Keys / secrets
*.key
license.json
